---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Project from "../components/Project.astro";
import CardService from "../components/CardService.astro";
import EXPERIENCES from "../assets/collections/experiences.json";
import PROJECTS from "../assets/collections/projects.json";
import SERVICES from "../assets/collections/services.json";
import HireServiceModal from "../components/HireServiceModal.astro";
---

<Layout>
  <section id="home" class="flex flex-col">
    <article class="text-gray-950 dark:text-white text-pretty mx-auto">
      <h1 class="text-4xl md:text-6xl font-bold max-w-screen-sm">
        Hola 👋, Somos Vientos de Esperanza
      </h1>

      <div class="flex flex-col gap-2 ">
        <h3
          class="text-lg sm:text-xl text-gray-950 dark:text-white"
        >
        <br>Vientos de Esperanza es una organización sin fines de lucro comprometida con mejorar la vida de quienes más lo necesitan. Desde el 2020, priorizamos nuestros esfuerzos en el bienestar de adultos mayores en situación de vulnerabilidad a través de actividades solidarias y acciones de voluntariado.
        </h3>
        
      </div>
      <div class="flex flex-col gap-6 mt-8">
        <h2 class="font-bold text-xl sm:text-2xl">
          Nosotros:
        </h2>
        <div class="flex flex-col sm:flex-row gap-4 overflow-hidden relative">
          <Card className="card">
            <div
              class="rounded-full p-4 grid place-content-center bg-blue-50 text-blue-500 dark:bg-blue-950/30 dark:text-blue-700 w-fit"
            >
              
            </div>
            <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
              Visión
            </h2>
            <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">
              Ser una organización que, a través de sus principios e identidad cultural, contribuya en la transformación social, generando oportunidades para desarrollar capacidades, aspirando a una sociedad solidaria e inclusiva.
            </p>
          </Card>
          <Card className="card">
            <div
              class="rounded-full p-4 grid place-content-center bg-yellow-50 text-yellow-500 dark:bg-yellow-950/30 dark:text-yellow-700 w-fit"
            >

            </div>
            <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
              Misión
            </h2>
            <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">
              Vientos de esperanza, es una asociación sin fines de lucro, con identidad propia, comprometida en promover programas de educación inclusiva, fomentar la revalorización de la cultura con el fin de mejorar, enriquecer y contribuir al empoderamiento de aquellas personas cuyos derechos fundamentales son vulnerados.

            </p>
          </Card>
        </div>
      </div>
    </article>
  </section>
  <section id="about" class="flex flex-col">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
    >
      Actividades
    </h2>
    <article class="flex flex-col md:flex-row gap-4 p-4">
      <Card className="text-gray-600 dark:text-gray-400 h-fit">
        <div class="flex flex-col gap-2 text-sm sm:text-base">
          <h3
            class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
          >
            Visita CARPAM - Juliaca
          </h3>
          <p>
            Realizamos actividades de voluntariado en el Centro Residencial del Adulto Mayor “San Francisco de Asís” de la Beneficencia Pública San Roman Juliaca
          </p>
          <p>
            El objetivo principal busca mejorar la calidad de vida de los albergados ( adultos mayores en situación de vulnerabilidad), a través de actividades que potencien las habilidades cognitivas, físicas, sociales y emocionales del adulto mayor.
          </p>
          <p>
            Todos los fines de semana         <h3
            class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
          >
            Domingos 9:40 AM - 12:00 PM
          </h3>
          </p>
        </div>
        
      </Card>
      <Card className="p-8">
        <h3
            class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
          >
            Otras Actividades Anuales
          </h3>
        <ol class="relative border-s border-gray-300 dark:border-neutral-800">
          {
            EXPERIENCES.map((experience) => (
              <TimelineItem
                title={experience.company}
                description={experience.description}
                date={experience.dates}
              >
                <div
                  slot="icon"
                  class="size-full p-1"
                  set:html={experience.svgIcon}
                />
              </TimelineItem>
            ))
          }
        </ol>
      </Card>
    </article>
  </section>
  <section id="projects" class="flex flex-col">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white text-end ms-auto mb-8"
    >
      -
    </h2>
    <div class="p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      
    </div>
    <div class="mt-6 flex justify-center">
      
    </div>
  </section>
  <section id="services" class="flex flex-col overflow-hidden">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
    >
      -
    </h2>
    <article class="p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
     
    </article>
  </section>
  <HireServiceModal />
</Layout>

<script>
  import { animate, inView, stagger } from "motion";

  window.addEventListener("DOMContentLoaded", () => {
    inView("#services", () => {
      animate(
        ".card-service",
        {
          transform: ["translateY(100%)", "translateY(0)"],
        },
        {
          delay: stagger(0.2),
          duration: 0.6,
        }
      );
    });
  });
</script>
