<footer class="rounded-md border border-gray-300 dark:border-neutral-800">
  <div
    class="max-w-screen-lg mx-auto sm:flex sm:items-center sm:justify-between p-4 sm:p-6"
  >
    
    <div class="flex justify-center items-center space-x-1">
      
    </div>
  </div>
</footer>
